# Projeto Final

## Primeira Entrega:
- Escolher uma API da lista disponível; 
- Fazer a extração de pelo menos 3 tabelas;
- Criar um alerta de erro usando a função alerta() do desafio da aula Fundamentos de programação III.

In [2]:
import requests 
import pandas as pd
from datetime import datetime
from plyer import notification

In [3]:
## Criar um alerta de erro usando a função alerta() 

def alerta(nivel, base, etapa):
    now = str(datetime.now())
    msg = f"Falha no carregamento da base {base} na etapa {etapa}.\n{now}"

    if nivel == 1:
        title = 'ATENÇÃO: Alerta Baixo'
    elif nivel == 2:
        title = 'ATENÇÃO: Alerta Médio'
    elif nivel == 3:
        title = 'ATENÇÃO: Alerta Alto'
    else:
        print("Nivel",nivel,"não disponível!")

    notification.notify(
        title=title,
        message=msg,
        app_name='alerta',
        timeout=10
    )

In [4]:
## Acessar API

url = 'https://restcountries.com/v3.1/all'
response = requests.get(url)

if response.status_code == 200:
    data_json = response.json()
    print(response)
else: 
    alerta(nivel=3, base="REST Countries", etapa="EXTRACAO")

<Response [200]>

In [72]:
## Extrair primeira tabela
response = requests.get('https://restcountries.com/v3.1/all')
data = response.json()

countries = pd.DataFrame([{'name': country['name']['common'], 'capital': country.get('capital', [''])[0], 'region': country['region']} for country in data])

countries

                                 name                    capital    region
0                              Cyprus                    Nicosia    Europe
1                             Eritrea                     Asmara    Africa
2                             Liberia                   Monrovia    Africa
3                             Bermuda                   Hamilton  Americas
4                        Vatican City               Vatican City    Europe
..                                ...                        ...       ...
245                       South Sudan                       Juba    Africa
246                          Honduras                Tegucigalpa  Americas
247  Saint Vincent and the Grenadines                  Kingstown  Americas
248                         Sri Lanka  Sri Jayawardenepura Kotte      Asia
249                         Hong Kong           City of Victoria      Asia

[250 rows x 3 columns]

In [73]:
## Extrair segunda tabela

response = requests.get('https://restcountries.com/v3.1/all')
data = response.json()

driving = pd.DataFrame([{'country': country['name']['common'], 'side': country['car']['side'] } for country in data])

driving

                              country   side
0                              Cyprus   left
1                             Eritrea  right
2                             Liberia  right
3                             Bermuda   left
4                        Vatican City  right
..                                ...    ...
245                       South Sudan  right
246                          Honduras  right
247  Saint Vincent and the Grenadines   left
248                         Sri Lanka   left
249                         Hong Kong   left

[250 rows x 2 columns]

In [74]:
## Extrair terceira tabela

response = requests.get('https://restcountries.com/v3.1/all')
data = response.json()

flags = pd.DataFrame([{'country': country['name']['common'], 'flag description': country['flags'].get('alt') } for country in data])
flags

,country,flag description
0,Cyprus,"The flag of Cyprus has a white field, at the c..."
1,Eritrea,The flag of Eritrea comprises three triangles ...
2,Liberia,The flag of Liberia is composed of eleven equa...
3,Bermuda,None
4,Vatican City,The flag of Vatican City is square shaped. It ...
...,...,...
245,South Sudan,The flag of South Sudan is composed of three e...
246,Honduras,The flag of Honduras is composed of three equa...
247,Saint Vincent and the Grenadines,The flag of Saint Vincent and the Grenadines i...
248,Sri Lanka,The flag of Sri Lanka features two large adjac...
249,Hong Kong,None